<div [ngStyle]="{'width.px': inputForm.width}">

  <label [ngStyle]="{'color': setColor()}"
          id="label-{{inputForm.name}}"> {{inputForm.placeholder}} </label>

  <select [ngStyle]="{'border': setBorder()}"
          (focusin)="setActive()"
          (focusout)="setPassive()"
          (change)="setData($event)"
          tabindex="-1">
    <option class="phonecode-list" *ngFor="let currPhoneCode of inputForm.data">
      {{currPhoneCode.phonecode}} - {{currPhoneCode.country}}
    </option>
  </select>


</div>
