<div class="footer-subscription">
  <div class="footer-subscription-title">Subscribe & get updates on special promos</div>
  <div class="footer-subscription-right">
    <div class="footer-subscription-input">
      <input type="email" [(ngModel)]="emailSubscription" placeholder="Input Your Email Here">
    </div>
    <div class="footer-subscription-button" (click)="addSubscription()">SUBSCRIBE</div>
  </div>
</div>

<div class="all-container">

  <div class="footer-container">

    <!-- Footer Left -->
    <div class="left-part">

      <img class="footer-image" src="assets/core/Logo.png" alt="Logo">
      <img class="footer-image-responsive" src="assets/core/Logo_Edit.png" alt="Logo">

      <div *ngFor="let currService of services">
        <app-image-text [dataImageText]="currService"></app-image-text>
      </div>

    </div>

    <!-- Footer Middle-->
    <div class="middle-part" *ngFor="let service of footerData;">

      <p class="footer-title">{{service.title}}</p>

      <div *ngFor="let content of service.content; ">
        <app-custom-menu-link [titleMenu]="content"></app-custom-menu-link>
      </div>

    </div>

    <!--  Footer Right-->
    <div class="right-part">

      <p class="footer-title"> Download </p>
      <img src="assets/footer/download-app-store.png" alt="">
      <img src="assets/footer/download-google-play.png" alt="">


    </div>

  </div>

  <div class="bottom-container">

    <div class="wonderful-indonesia">
      <img src="assets/footer/wonderful-indonesia.webp" alt="">
      <p>
        Official Partner of <br>
        the Ministry of Tourism, <br>
        Republic of Indonesia
      </p>
    </div>

    <div class="image-container" *ngFor="let trans of images;">

      <p>{{trans.title}}</p>

      <div>
        <div *ngFor="let link of trans.imageLink;">
          <img src="assets/footer/{{link}}" alt="">
        </div>
      </div>

    </div>
  </div>

</div>
