.all-container {

  display: flex;
  flex-direction: column;

  .footer-container {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "Open Sans", serif;
    color: #58627a;

    .left-part .footer-image {
      width: 182px;
      margin: 0px 0px 20px 20px;
    }

    .left-part .footer-image-responsive {
      display: none;
      width: 182px;
      margin: 0px 0px 20px 20px;
    }

    .middle-part {

      p {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0px;
      }

      div {
        margin: 5px 0px;
      }

    }

    .right-part {

      margin: 0px 20px 20px 0px;

      display: flex;
      flex-direction: column;

      p {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0px;
      }

      img {
        margin-bottom: 10px;
        width: 190px;
      }

    }

  }

  .bottom-container {

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: "Open Sans";
    color: #58627a !important;

    .wonderful-indonesia {


      display: flex;
      flex-direction: row;
      align-items: center;

      white-space: nowrap;

      p {
        font-size: 10px;
      }

      img {
        margin-left: 10px;
        width: 150px;
        height: 55px;
      }

    }

    .image-container {
      display: flex;
      flex-direction: column;

      margin-right: 20px;

      p {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      div {

        display: flex;
        flex-direction: row;

        div img {
          margin-bottom: 10px;
          margin-right: 15px;
          height: 25px;
        }

      }

    }

  }
}

@media only screen and (max-width: 630px) {
  .all-container {

    .footer-container {
      .left-part img {
        width: 140px !important;
      }

      .right-part {
        img {
          width: 130px;
        }
      }
    }

    .bottom-container {
      .wonderful-indonesia {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {

  .all-container {

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0264D3;

    .footer-container {
      width: 50%;
      flex-direction: column;

      .left-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-image {
          display: none;
        }

        .footer-image-responsive {
          display: block;
        }

        div app-image-text {
          align-items: center;
        }
      }

      .middle-part {

        margin-left: 20px;
        text-align: center;

        p {
          color: white !important;
        }

      }

      .right-part {

        margin-left: 20px;

      }

    }

    .bottom-container {
      width: 50%;

      flex-direction: column;
      align-items: flex-start;

      .wonderful-indonesia {
        margin-bottom: 20px;
      }

      div {
        margin-bottom: 20px;
      }

      .image-container {
        margin-left: 20px;

        div {
          flex-wrap: wrap;
          margin-bottom: 5px;
        }

      }

    }
  }

}
