.cardbox-container {

  width: 80%;
  padding: 40px 0;

  position: absolute;
  top: -60px;

  display: flex;
  flex-direction: column;

  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px #888888;

  .cardbox-container-top {

    padding: 0 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      .big-text {
        font-size: 20px;
      }

      .small-text {
        font-size: 40px;
        font-weight: bold;
      }
    }

    .cardbox-content {
      display: flex;
      flex-direction: row;

      font-family: "Open Sans", serif;

      .active-content {
        border: 2px solid #0264D3;
      }

      .passive-content {
        border: 1px solid gray;
        &:hover {
          border: 1px solid #0264D3;
        }
      }

      app-cardbox-imagetext {
        width: fit-content;
        margin: 0 10px;

        border-radius: 10px;
      }

    }
  }

}

@media only screen and (max-width: 600px) {

  .cardbox-container {

    width: 90% !important;
    padding: 20px 0;
    top: -20px !important;

    .cardbox-container-top {

      padding: 0 20px;

      div {
        display: none;
      }

      .cardbox-content {
        display: flex;
        flex-direction: row;

        font-family: "Open Sans", serif;

        .active-content {
          border: 2px solid #0264D3;
        }

        .passive-content {
          border: 1px solid gray;
          &:hover {
            border: 1px solid #0264D3;
          }
        }

        app-cardbox-imagetext {
          width: fit-content;
          margin: 0 10px;

          border-radius: 10px;
        }

      }

    }

  }

}

@media only screen and (max-width: 1150px) {

  .cardbox-container {

    width: 65%;
    top: -45px;

    .cardbox-container-top {

      flex-direction: column;

      div {
        .big-text {
          font-size: 15px;
        }

        .small-text {
          font-size: 28px;
          font-weight: bold;
        }
      }

      .cardbox-content {

        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        app-cardbox-imagetext {
          width: fit-content;
          margin: 10px 10px;

          border-radius: 10px;
        }

      }

    }

  }


}
