<div class="cardbox-container">

  <div class="cardbox-container-top">
    <div>
      <p class="big-text">Hey, you</p>
      <p class="small-text">Going anywhere ?</p>
    </div>

    <div class="cardbox-content">
      <app-cardbox-imagetext id="linkPlane" [linkImageText]="linkPlane" (click)="setState(1)"></app-cardbox-imagetext>
      <app-cardbox-imagetext id="linkHotel" [linkImageText]="linkHotel" (click)="setState(2)"></app-cardbox-imagetext>
      <app-cardbox-imagetext id="linkTrain"  [linkImageText]="linkTrain"></app-cardbox-imagetext>
      <app-cardbox-imagetext id="linkCar" [linkImageText]="linkCar" (click)="setState(3)"></app-cardbox-imagetext>
      <app-cardbox-imagetext id="linkEntertainment"  [linkImageText]="linkEntertainment"></app-cardbox-imagetext>
    </div>
  </div>

  <div class="cardbox-container-down">
    <app-cardbox-plane *ngIf="currentState == 1; else cond2"></app-cardbox-plane>

    <ng-template #cond2>
      <app-cardbox-hotel *ngIf="currentState == 2; else cond3"></app-cardbox-hotel>
    </ng-template>

    <ng-template #cond3>
      <app-cardbox-car></app-cardbox-car>
    </ng-template>

  </div>

</div>
