b {
  cursor: pointer;
  color: #0F83E8;
}

.image-hotel {
  width: 300px;
  height: 240px;

  img {
    width: 300px;
    height: 240px;
  }
}

.detail-hotel {
  margin: 20px;
}

.promo-share {
  color: blue;
  cursor: pointer;
}

.map-container {
  width: 200px;
  height: 200px;
}
