<div class="login-container">

  <div>

  </div>

  <div class="left-container">

    <div class="left-container-inside">

      <div class="title-content">
        <p> Join now to enjoy our features. </p>
      </div>

      <div class="data-content" *ngFor="let feature of featureLoginRegister;">
        <app-image-text [dataImageText]="feature"></app-image-text>
      </div>

    </div>

  </div>

  <div class="right-container" *ngIf="phoneCodeData">

    <p class="register-title general"><b>Register</b></p>

    <div *ngIf="isEmail; else otherFieldStatic" class="text-field general">
      <p>Email</p>
      <p>{{dataFromLogin.phoneemail}}</p>
    </div>

    <ng-template #otherFieldStatic>

      <div class="text-field general phone">
        <app-option-field [inputForm]="phoneCodeData" (sendToParent)="setPhoneCode($event)"></app-option-field>
        <div class="general">
          <p>Phone Number</p>
          <p>{{dataFromLogin.phoneemail}}</p>
        </div>
      </div>
    </ng-template>

    <div class="text-field general">
      <app-text-field [inputForm]="firstNameData" (sendToParent)="setFirstName($event)"></app-text-field>
    </div>

    <div class="text-field general">
      <app-text-field [inputForm]="lastNameData" (sendToParent)="setLastName($event)"></app-text-field>
    </div>

    <div *ngIf="!isEmail; else otherField" class="text-field general">
      <app-text-field [inputForm]="emailData" (sendToParent)="setEmail($event)"></app-text-field>
    </div>

    <ng-template #otherField>
      <div class="text-field phone general">
        <app-option-field [inputForm]="phoneCodeData" (sendToParent)="setPhoneCode($event)"></app-option-field>
        <app-text-field class="general" [inputForm]="phoneData" (sendToParent)="setPhone($event)"></app-text-field>
      </div>
    </ng-template>

    <div class="text-field general">
      <app-password-field [inputForm]="passwordData" (sendToParent)="setPassword($event)"></app-password-field>
    </div>

    <div (click)="registerAction()" class="button-register general"><b>CREATE ACCOUNT</b></div>


  </div>

</div>

