<div class="outer-container">

  <div class="header-container">

    <div class="header-left-container">
      <div class="header-left-menu" *ngFor="let menu of menusTop;">
        <app-navbar-menu [titleMenu]="menu"></app-navbar-menu>
      </div>
    </div>

    <div class="header-right-container">
      <app-navbar-dropdown class="header-right-dropdown" [type]="menusType[1]" [menu]="menusLanguage"></app-navbar-dropdown>
      <app-navbar-dropdown class="header-right-dropdown" [type]="menusType[0]" [menu]="menusMoney"></app-navbar-dropdown>
    </div>

  </div>

  <div class="navbar-container">

    <div class="navbar-left-container">

      <div class="navbar-hamburger">
        <img (click)="configNavbar()" class="navbar-hamburger-image" src="assets/navbar/Icon_Menu.png" alt="">
        <img class="navbar-hamburger-logo" src="assets/core/Logo.png" alt="Logo">
      </div>

      <img class="navbar-logo" src="assets/core/Logo.png" alt="Logo">

      <div class="navbar-menu" *ngFor="let menu of menusLeft;">
        <app-navbar-menu [titleMenu]=menu></app-navbar-menu>
      </div>

    </div>

    <div class="navbar-right-container">

      <div class="navbar-menu" *ngFor="let menu of menusRight;">
        <app-navbar-menu [titleMenu]=menu></app-navbar-menu>
      </div>

    </div>

  </div>

</div>
