.header {

  margin: 0px !important;
  padding: 0px 5%;

  .downdown-header {
    padding: 10px;
    vertical-align: center;
  }

  background-color: whitesmoke;
}

.navbar-menu-hamburger-image {
  display: none;
  width: 30px !important;
}

.navbar-container {

  display: flex;
  justify-content: space-between;

  margin: 0px 5% ;

  div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navbar-logo {
      margin-right: 40px;
      width: 182px;
    }

  }

}

@media only screen and (max-width:1000px) {

  .navbar-container {

    .navbar-menu-hamburger {

      .navbar-menu-hamburger-image {
        display: block;
      }

    }

    .navbar-menu-left {
      display: none;
    }



  }


}

