<a *ngIf="!isRoutable; else usingRouting"
   href="{{titleMenu.link}}"
   (mouseover)="styleHover = true"
   (mouseleave)="styleHover = false"
   [ngStyle]="{'font-size.px': setFontSize(titleMenu),
               'font-weight': setFontWeight(titleMenu)
              }">
  {{titleMenu.name}}
  <div [ngStyle]="{'background-color': setUnderline(titleMenu)}"></div>
</a>

<ng-template #usingRouting>
  <a (click)="setRouter()"
     (mouseover)="styleHover = true"
     (mouseleave)="styleHover = false"
     [ngStyle]="{'font-size.px': setFontSize(titleMenu),
                 'font-weight': setFontWeight(titleMenu)
              }">
    {{titleMenu.name}}
    <div [ngStyle]="{'background-color': setUnderline(titleMenu)}"></div>
  </a>

</ng-template>

