.feature-container {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: "Open Sans", serif;
  font-size: 14px;
  color: #58627a;

  div img {
    margin: 10px 20px;
    width: 40px;
  }

  .feature-content {

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {

      margin: 3px 0px;

      b {
        color: #35405a;
      }

    }

  }

}

@media only screen and (max-width: 1150px) {

  .coloring p {
    color: white !important;
    b{
      color: white !important;
    }
  }

}

