.cardbox-plane-container {

  .cardbox-plane-top {

    padding: 0px 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .cardbox-plane-container-image {
      background-color: cornflowerblue;
      border-radius: 100%;

      width: 40px;
    }

    .cardbox-plane-container-text {
      font-size: 20px;
      margin-left: 20px;
    }

  }

  .cardbox-plane-mid {

    padding: 0px 50px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;

    margin-top: 25px;

    .cardbox-plane-radio {

      display: flex;
      align-items: center;

      margin-right: 30px;

      input {
        margin-right: 5px;
      }

    }

    input[type=radio] {
      border: 0px;
      width: 20px;
      height: 20px;
    }

  }

  .cardbox-plane-separator {
    height: 1px;
    width: 100%;

    background-color: rgba(169, 169, 169, .8);
  }

  .cardbox-plane-bottom {

    position: relative;

    display: flex;
    flex-direction: row;

    color: #808080;

    .cardbox-plane-bottom-content {
      display: flex;
      flex-direction: column;

      padding: 15px 15px 5px 15px;
    }

    .cardbox-plane-arrow {
      padding: 5px;

      position: absolute;
      z-index: 2;
      width: 17px;
      top: 42px;
      left: 225px;

      background-color: white;
      border: 1px solid rgba(169, 169, 169, .8);
      border-radius: 100%;
    }

    .cardbox-plane-from {
      padding-left: 50px;
      padding-right: 20px;
      border-right: 1px dashed rgba(169, 169, 169, .8);
    }

    .cardbox-plane-to {
      padding-left: 20px;
      border-right: 1px solid rgba(169, 169, 169, .8);
    }

    .cardbox-plane-from, .cardbox-plane-to, .cardbox-plane-cabin {

      input[type=text] {
        margin-top: 22px;
        padding-bottom: 5px;

        font-size: 15px;
        width: 170px;

        border: 0px;
        outline: 0px;
        border-bottom: 1px solid rgba(169, 169, 169, .8);
      }
    }

    .cardbox-plane-departure {
      border-right: 1px solid rgba(169, 169, 169, .8);
    }

    .cardbox-plane-return {
      border-right: 1px solid rgba(169, 169, 169, .8);

      .cardbox-plane-return-top {
        display: flex;
        flex-direction: row;

        input[type=checkbox] {
          border: 0px;
          width: 20px;
          height: 20px;

          margin-right: 10px;
        }
      }
    }

    .cardbox-plane-cabin {
      input[type=text] {
        width: 190px !important;
      }
    }
  }

  .cardbox-plane-button {

    float: right;
    width: fit-content;
    margin-top: 15px;
    margin-right: 50px;

    background-color: rgb(240,230,140);

    padding: 15px;
    border-radius: 20px;


    input[type=button] {
      background-color: transparent;
      border: 0px;
      outline: 0px;
      font-size: 20px;

      cursor: pointer;
    }

  }

}

.mat-form-field {
  width: 150px !important;
}
