<div *ngIf="userProfile" (click)="changeStateProfile()" class="profile-container">

  <img *ngIf="checkResource()" class="icon-profile" src="assets/profilepic/{{userProfile.image}}" alt="">
  <img *ngIf="!checkResource()" class="icon-profile" src="{{userProfile.image}}" alt="">

  <div class="profile-dropdown" [ngStyle]="{'display': getDisplay()}">

    <div>{{userProfile.firstname}} {{userProfile.lastname}}</div>
    <div class="attr-tix">
      <img class="tix-image" src="assets/navbar/tix_point.svg" alt="TIX">
      <p class="tix-point">1000</p>
    </div>

    <div class="profile-separator"></div>

    <div class="attr-general"> My Order </div>
    <div class="attr-general" (click)="goToProfile()"> Smart Profile </div>
    <div class="attr-general"> Smart Pay </div>
    <div class="attr-general"> Refund List </div>
    <div class="attr-general"> Setting </div>
    <div class="attr-general" (click)="logoutAction()"> Log Out </div>

  </div>

</div>
