.profile-container {

  position: relative;
  float: right;
  z-index: 400;

  .icon-profile {
    float: right;
    width: 40px;
    cursor: pointer;
    margin-bottom: 5px;

    border-radius: 100%;
  }

  .profile-dropdown {

    margin-top: 50px;
    padding-top: 20px;
    padding-right: 20px;
    width: 180px;
    z-index: 200;

    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    .attr-tix {

      display: flex;
      flex-direction: row;
      align-items: flex-end;

      .tix-image {
        width: 20px;
      }

    }

    .profile-separator {
      margin-top: 10px;
      height: 2px;
      width: 90%;
      background-color: black;
    }

    .attr-general {
      padding: 15px 0px;
      width: 90%;
      border-radius: 10px;

      text-align: right;

      &:hover {
        background-color: #c6cbda;
      }
    }

  }


}
