<div class="update-blog-container">

  <div class="update-blog-title">
    Update Blog
  </div>

<!--  <app-text-editor #textEditor [conditional]="selectedArg" [conditional2]="selectedArg2"></app-text-editor>-->

  <mat-form-field>
    <mat-label>Image Link</mat-label>
    <input matInput placeholder="Image Link" [(ngModel)]="selectedImage">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Blog Category</mat-label>
    <mat-select [(ngModel)]="selectedCategory" name="food">
      <mat-option value="Culinary"> Culinary </mat-option>
      <mat-option value="Tips And Trick"> Tips and Trick </mat-option>
      <mat-option value="Info"> Info </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-button (click)="updateBlog()"> Update Blog </button>
  </div>

</div>
