.insert-blog-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .insert-blog-title {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }

}
