<div class="insert-blog-container">

  <div class="insert-blog-title">
    Insert Entertainment
  </div>

  <app-text-editor #textEditor [conditional]="selectedArg"></app-text-editor>


  <mat-form-field>
    <mat-label>Image</mat-label>
    <input matInput placeholder="Image" [(ngModel)]="selectedImage">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput placeholder="Latitude" [(ngModel)]="selectedLatitude">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput placeholder="Longitude" [(ngModel)]="selectedLongitude">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" [(ngModel)]="selectedPrice">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput placeholder="Location" [(ngModel)]="selectedLocation">
  </mat-form-field>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="date" [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option value="Event"> Event </mat-option>
      <mat-option value="Activity"> Activity </mat-option>
      <mat-option value="Attraction"> Attraction </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button mat-button (click)="insertEvent()"> Insert Event </button>
  </div>

</div>
