a {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-decoration: none;
  color: black;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: bold;
  color: #35405a;
  white-space: nowrap;

  margin: 10px;

  margin: 0px 10px !important;
  width: 100%;


  &:hover {
    color: royalblue;
    cursor: pointer;
  }

}

.support {
  padding-bottom: 5px;
}

.outer-container {

  margin: 0px 20px;

  .header-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0px;

    .header-left-container, .header-right-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .header-right-dropdown {
        margin-right: 20px;
      }

      .header-left-menu {
        margin-right: 20px;
      }

    }

  }

  .navbar-profile {
    display: none;
  }

  .navbar-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-left-container, .navbar-right-container {

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      float: left;

      .navbar-hamburger {

        display: none;

        .navbar-hamburger-image {
          margin-top: 2px;
          width: 30px;
          margin-right: 20px;
          margin-bottom: 20px;
          cursor: pointer;
        }

        .navbar-hamburger-logo {
          width: 182px;
          margin-right: 20px;
          margin-bottom: 20px;
          outline: none;
        }

      }

      .navbar-logo {
        width: 182px;
        margin-right: 20px;
        outline: none;
      }

      .navbar-menu {
        margin: 0px 10px !important;
        width: 100%;

        display: flex;
        justify-content: flex-start;
      }

    }

  }

}

@media only screen and (max-width: 600px) {
  .outer-container {

    .header-container {

      justify-content: flex-start;

      .header-left-container .header-left-menu {
          display: none;
      }

      .header-right-container {
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {

  .outer-container {

    background-color: #0064d2;
    margin: 0px;
    padding: 0px 20px;

    .navbar-profile {
      display: flex;
      position: absolute;
      right: 35px;
      top: 65px;
    }

    .navbar-container {

      padding: 20px;

      justify-content: flex-start;
      align-items: flex-end;

      .navbar-left-container, .navbar-right-container {

        flex-direction: column;
        justify-content: flex-start;

        .navbar-hamburger {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .navbar-hamburger-logo {
            width: 150px;
          }

          .navbar-hamburger-profile {
            float: right;
          }
        }

        .profile-hide {
          display: none;
        }

        .navbar-logo {
          display: none;
        }

        .navbar-menu {
          justify-content: flex-start;
          margin: 10px;
          display: none;

          color: white;

          &:hover {
            color: black;
          }
        }

      }

    }

  }

}
