<div class="outer-container">

  <div class="header-container">

    <div class="header-left-container">
      <div class="header-left-menu" *ngFor="let menu of menusTop;">
        <app-custom-menu-link [titleMenu]="menu"></app-custom-menu-link>
      </div>
    </div>

    <div class="header-right-container">
      <div id="google_translate_element"></div>
<!--      <app-navbar-dropdown class="header-right-dropdown" [typeDropdown]="menusType[1]" [dataDropdown]="menusLanguage"></app-navbar-dropdown>-->
      <app-navbar-dropdown class="header-right-dropdown" [typeDropdown]="menusType[0]" [dataDropdown]="menusMoney"></app-navbar-dropdown>
    </div>

  </div>

  <div class="navbar-container">

    <div class="navbar-left-container">

      <div class="navbar-hamburger">
        <img (click)="configNavbar()" class="navbar-hamburger-image" src="assets/navbar/Icon_Menu.png" alt="">
        <img class="navbar-hamburger-logo" [routerLink]="'/'" src="assets/core/Logo_Edit.png" alt="Logo">
      </div>

      <img class="navbar-logo" [routerLink]="'/'" src="assets/core/Logo.png" alt="Logo">

      <div class="navbar-menu" *ngFor="let menu of menusLeft;">
        <app-custom-menu-link [titleMenu]=menu></app-custom-menu-link>
      </div>

    </div>

    <div class="navbar-right-container">

      <div class="navbar-menu" *ngFor="let menu of menusRight;">
        <app-custom-menu-link [titleMenu]=menu></app-custom-menu-link>
      </div>

      <a *ngIf="getStatus(1)" class="navbar-menu support" (click)="loginAction()"> Login </a>
      <a *ngIf="getStatus(1)" class="navbar-menu support" (click)="loginAction()"> Register </a>

      <div class="profile-hide">
        <app-profile class="navbar-logo" *ngIf="getStatus(0)" class="support"></app-profile>
      </div>

    </div>

  </div>

  <div class="navbar-profile">
    <app-profile class="navbar-hamburger-profile" *ngIf="getStatus(0)" class="support"></app-profile>
  </div>

</div>
