a {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-decoration: none;
  color: black;
  font-family: "Open Sans", serif;
  color: #35405a;
  white-space: nowrap;

  &:hover {
    color: royalblue;
    cursor: pointer;

    .border-title {
      background-color: royalblue;
    }

  }

}

.border-title {
  margin-top: 5px;
  width: 50%;
  height: 1px;
  background-color: transparent;
}

@media only screen and (max-width: 1000px) {
  .border-title {
    background-color: transparent !important;
  }
}
