::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #0264D3 !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #0264D3 !important;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #0264D3 !important;
}
