<div class="login-container">

  <div class="left-container">

    <div class="left-container-inside">

      <div class="title-content">
        <p> Join now to enjoy our features. </p>
      </div>

      <div class="data-content" *ngFor="let feature of featureLoginRegister;">
        <app-image-text [dataImageText]="feature" ></app-image-text>
      </div>

    </div>

  </div>

  <div class="right-container">

    <p class="login-title general-style">
      <b>Log in/Register</b>
    </p>

    <p class="login-subtitle general-style">
      Your amazing trip starts here.
    </p>

    <div class="text-field general-style">
      <app-text-field [inputForm]="phoneEmailData" (sendToParent)="setPhonePhoneEmail($event)"></app-text-field>
    </div>

    <div class="text-field general-style" id="password">
      <app-password-field [inputForm]="passwordData" (sendToParent)="setPassword($event)"></app-password-field>
    </div>

    <div (click)="loginAction()" class="button-login general-style">
      <b>CONTINUE</b>
      <span class="error-text" id="error-text">{{errorText}}</span>
    </div>

    <div class="separator-login">
      ---- or with ----
    </div>

    <div class="connect-other general-style">

      <div class="connect-container" (click)="googleSignIn()" id="gapi">
        <img src="assets/login/google.svg" alt="Google">
        <p>Google</p>
      </div>

      <div class="connect-container" (click)="facebookSignIn()" id="gfb">
        <img src="assets/login/facebook.svg" alt="Facebook">
        <p>Facebook</p>
      </div>

    </div>

    <p class="term-condition general-style">
      By registering you have agreed to our
      <a href="https://en.tiket.com/info/privacy-policy">Privacy Policy</a> and <a href="https://en.tiket.com/info">Term & Conditions</a>.
    </p>


  </div>

</div>

