.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .left-container {
    background-image: url("./../../../assets/login/login-register-illustration.webp");
    background-repeat: no-repeat;
    background-size: cover;

    width: 550px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .left-container-inside {
      width: 400px;

      background-color: white;
      box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
      border: 1px solid lightgray;
      border-radius: 5px;

      display: flex;
      flex-direction: column;

      .title-content {
        margin: 20px;
        font-family: "Open Sans", serif;
        font-size: 16px;
      }

      .data-content {
        margin-bottom: 15px;
      }

    }

  }

  .right-container {

    background-color: white;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    border-radius: 5px;

    width: 290px;
    height: 500px;

    font-family: "Open Sans", serif;
    color: #35405a;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .general-style {
      margin-left: 20px;
    }

    .login-title {
      margin-top: 20px;
      font-size: 18px;
    }

    .login-subtitle {
      margin-top: 10px;
      font-size: 14px;
    }

    .text-field {
      margin-top: 25px;
    }

    #password {
      display: none;
    }

    .connect-other #gfb img {
      margin-right: 15px !important;
    }

    .button-login {
      border-radius: 30px;
      background-color: #fedd00;
      color: #0064d2;

      width: 250px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      margin-top: 20px;

      cursor: pointer;

      .error-text {
        visibility: hidden;
        position: absolute;
        bottom: 42px;

        width: auto;
        padding: 8px 10px;
        border-radius: 6px;

        background-color: red;
        color: white;

        text-align: center;

        &::after {
          content: "";

          position: absolute;
          top: 100%;
          left: 50%;

          margin-left: -5px;

          border-width: 5px;
          border-style: solid;
          border-color: red transparent transparent transparent;
        }

      }

      .pop-up-error-show {
        visibility: visible;
        animation: fadeIn 1s;
      }

      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
      }

      .pop-up-error-hide {
        visibility: hidden;
        animation: fadeOut 1s;
      }

      @keyframes fadeOut {
        from {opacity: 1;}
        to {opacity: 0;}
      }

    }

    .separator-login {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 250px;

      margin: 15px;

      font-size: 12px;
      color: #888888;
    }

    .connect-other {

      border-radius: 5px;
      border: 1px solid #888888;

      width: 250px;

      .connect-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        cursor: pointer;

        img, p {
          margin: 10px;
        }

      }

    }

    .term-condition {
      font-size: 12px !important;

      width: 250px;
      text-align: center;
      margin-top: 10px;

      a {
        color: #0064d2;
        text-decoration: none;
        cursor: pointer;

        outline: none;
      }

    }

  }
}

@media only screen and (max-width: 1100px) {

  .login-container {

    .left-container {
      display: none;
    }

  }

}

