<div class="login-container">

  <div class="left-container">

    <div class="left-container-inside">

      <div class="title-content">
        <p> Join now to enjoy our features. </p>
      </div>

      <div class="data-content" *ngFor="let feature of features;">
        <app-image-text [dataPass]="feature" ></app-image-text>
      </div>

    </div>

  </div>

  <div class="right-container">

    <p class="login-title"><b>Log in</b></p>
    <p class="login-subtitle">Your amazing trip starts here.</p>

    <div class="text-field">
      <app-text-field [inputForm]="phoneEmailData" (data)="setPhonePhoneEmail($event)"></app-text-field>
    </div>

    <div class="text-field">
      <app-text-field [inputForm]="passwordData" (data)="setPassword($event)"></app-text-field>
    </div>

    <div (click)="loginAction()" class="button-login"><b>CONTINUE</b></div>

    <div class="separator-login">
      ---- or with ----
    </div>

    <div class="connect-other">

      <div class="g-signin2"></div>

      <div class="connect-container">
        <img src="assets/login/google.svg" (click)="googleSignIn()" alt="Google">
        <p>Google</p>
      </div>

      <div class="connect-container">
        <img src="assets/login/facebook.svg" alt="Facebook">
        <p>Facebook</p>
      </div>

    </div>

    <p class="term-condition">
      By registering you have agreed to our
      <a href="https://en.tiket.com/info/privacy-policy">Privacy Policy</a> and <a href="https://en.tiket.com/info">Term & Conditions</a>.
    </p>


  </div>

</div>

