<div class="cardbox-hotel-container">

  <div class="cardbox-hotel-top">
    <img class="cardbox-hotel-container-image" src="assets/quick-card/hotel-icon.png" alt="">
    <p class="cardbox-hotel-container-text">Cheap Online Hotel Booking with Promo</p>
  </div>

  <div class="cardbox-hotel-separator"></div>

  <div class="cardbox-hotel-bottom">

    <div class="cardbox-hotel-destination cardbox-hotel-bottom-content">
      Destination
        <mat-form-field class="cardbox-text">
          <input type="text" matInput aria-label="Number" [formControl]="selectedLocation" [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredLocation | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
<!--      <input type="text">-->
    </div>

    <div class="cardbox-hotel-checkin cardbox-hotel-bottom-content">

      Check-In

      <mat-form-field>
        <input matInput [matDatepicker]="checkinPicker"
               [matDatepickerFilter]="checkinFilter"
               [formControl]="checkinDate"
               (dateChange)="addCheckinEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="checkinPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkinPicker color="primary" disabled="false"></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="cardbox-hotel-night">
      <p>☾ {{totalNight}}</p>
      <p>Night(s)</p>
    </div>

    <div class="cardbox-hotel-checkout cardbox-hotel-bottom-content">

      Check-Out

      <mat-form-field>
        <input matInput [matDatepicker]="checkoutPicker"
               [matDatepickerFilter]="checkoutFilter"
               [formControl]="checkoutDate"
               (dateChange)="addCheckoutEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkoutPicker color="primary" disabled="false"></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="cardbox-hotel-room cardbox-hotel-bottom-content">
      Guess & Room
      <input type="text" (click)="isShowRoom = !isShowRoom" [value]="totalValue" readonly>
      <app-hotel-room (valueGuess)="setGuess($event)" (valueRoom)="setRoom($event)"  [ngStyle]="{'display': showRoom()}"></app-hotel-room>
    </div>

  </div>

  <div class="cardbox-hotel-separator"></div>

  <div class="cardbox-plane-button">

    <input (click)="searchHotel()" type="button" value="Search Hotel">

  </div>

</div>
