.editor-container {

  display: flex;
  flex-direction: column;

  .editor-button {

    border:solid 1px #ddd;
    background:#f4f4f4;
    padding: 5px;
    border-radius:3px;

    button {
      cursor: pointer;
      outline: none;

      border-radius: 0 !important;
      background-color: transparent !important;
    }
  }

  .editor-content {

    width: 100%;

    .editor {
      height: fit-content;
      padding: 10px 20px;

      margin-top: 10px;
      border: 1px solid gray;
      background:#f4f4f4;
      border-radius: 10px;
      outline: none;

    }
  }


}
