.image-slider-container {

  margin-top: 10px;

  width: 100%;
  height: 300px;
  background-color: #0264D3;

  .image-slider-content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 305px;

    .image-slider img {
      position: relative;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
      width: auto;
    }

    .image-arrow {
      z-index: 10;
      width: 15px;
    }

  }

}

@media only screen and (max-width: 1150px) {
  .image-slider-container {
    margin-top: 0px;
    height: 200px;

    .image-slider-content {

      height: 205px;

      .image-slider img {
        height: 200px;
      }

      .image-arrow {
        z-index: 10;
        width: 15px;
      }

    }
  }
}

@media only screen and (max-width: 600px) {
  .image-slider-container {
    margin-top: 0px;
    height: 100px;

    .image-slider-content {

      height: 105px;

      .image-slider img {
        height: 100px;
      }

      .image-arrow {
        z-index: 10;
        width: 15px;
      }

    }
  }
}

.cardbox {
  position: relative;

  display: flex;
  justify-content: center;

  z-index: 100;
}


.overlay-screen {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
}
