<div class="image-slider-container">

  <div class="image-slider-content" >
    <img (click)="prevImageSlider()" class="image-arrow" src="assets/home-imageslider/left.webp" alt="">
    <div class="image-slider" *ngFor="let currImage of imageList; let i = index;">
      <img *ngIf="i === currIndex"
           [@imageSliderAnimation] = currentState
           src="{{currImage}}" alt="">
    </div>
    <img (click)="nextImageSlider()" class="image-arrow" src="assets/home-imageslider/right.webp" alt="">
  </div>

</div>

<div (click)="setLayout()">
  <app-cardbox class="cardbox"></app-cardbox>
</div>

<div class="hotel-container">

  <p class="hotel-title">Places to Stay Around the World !</p>

  <div class="hotel-content">
    <div *ngFor="let x of [70, 60, 20, 45, 26]">
      <img class="hotel-image" src="assets/hotels/InterContinental_Hotel_1.webp" alt="Hotel">
      <p>Name</p>
      <p>$ Price / Night</p>
      <app-star-bar [widthRating]="x"></app-star-bar>
    </div>
  </div>
</div>

<div id="overlay-screen" (click)="something()"></div>
