<div class="update-train-container">

  <div class="update-train-title"> Insert Train </div>

  <div class="update-train-arrival-date general-update-train">
    <div>Train Arrival Date</div>
    <mat-form-field>
      <mat-label>Train Arrival Date</mat-label>
      <input matInput [matDatepicker]="arrivalDate" [formControl]="arrivalDateFormControl">
      <mat-datepicker-toggle matSuffix [for]="arrivalDate"></mat-datepicker-toggle>
      <mat-datepicker #arrivalDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="update-train-arrival-date general-update-train">
    <div>Train Arrival Time</div>
    <div class="timepicker" >
      <ngx-timepicker-field [formControl]="arrivalTimeFormControl" [format]="24" [controlOnly]="true"></ngx-timepicker-field>
    </div>
  </div>

  <div class="update-train-departure-date general-update-train">
    <div>Train Departure Date</div>
    <mat-form-field>
      <mat-label>Train Departure Date</mat-label>
      <input matInput [matDatepicker]="departureDate" [formControl]="departureDateFormControl">
      <mat-datepicker-toggle matSuffix [for]="departureDate"></mat-datepicker-toggle>
      <mat-datepicker #departureDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="update-train-departure-date general-update-train">
    <div>Train Departure Time</div>
    <div class="timepicker" >
      <ngx-timepicker-field [formControl]="departureTimeFormControl" [format]="24" [controlOnly]="true"></ngx-timepicker-field>
    </div>
  </div>

  <div class="update-train-seat general-update-train">
    <div>Train Seat</div>
    <mat-form-field>
      <mat-label>Train Seat</mat-label>
      <input matInput [formControl]="seatFormControl" required>
      <mat-error *ngIf="seatFormControl.invalid">Please Fill Train Seat</mat-error>
    </mat-form-field>
  </div>

  <div class="update-hotel-price general-update-train">
    <div>Train Price</div>
    <mat-form-field>
      <mat-label>Train Price</mat-label>
      <input matInput [formControl]="priceFormControl" required>
      <mat-error *ngIf="priceFormControl.invalid">Please Fill Train Price</mat-error>
    </mat-form-field>
  </div>

  <div class="update-hotel-class general-update-train">
    <div>Train Class</div>
    <mat-form-field>
      <mat-label>Train Class</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let selClass of selectedClass"
                  [removable]="true"
                  (removed)="removeClass(selClass)">
          {{selClass}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input matInput
               matTooltip="Economy, Executive, Business"
               [formControl]="classFormControl"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addClass($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div>
    <button [disabled]="isDisable" mat-button (click)="insertTrain()">Insert Train</button>
  </div>

</div>
