<div class="update-flight-container">

  <div class="update-flight-title"> Update Flight </div>

  <div class="update-flight-code general-update-flight">
    <div>Flight Model</div>
    <mat-form-field>
      <mat-label>Flight Model</mat-label>
      <input matInput [formControl]="modelFormControl" required>
      <mat-error *ngIf="modelFormControl.invalid">Please Fill Flight Model</mat-error>
    </mat-form-field>
  </div>

  <div class="update-flight-price general-update-flight">
    <div>Flight Price</div>
    <mat-form-field>
      <mat-label>Flight Price</mat-label>
      <input matInput [formControl]="priceFormControl" required>
      <mat-error *ngIf="priceFormControl.invalid">Please Fill Flight Price</mat-error>
    </mat-form-field>
  </div>

  <div class="update-flight-arrival general-update-flight">
    <div>Flight Arrival Airport</div>
    <mat-form-field>
      <mat-label>Flight Arrival Airport</mat-label>
      <input matInput [formControl]="arrivalFormControl" required>
      <mat-error *ngIf="arrivalFormControl.invalid">Please Fill Flight Arrival Airport</mat-error>
    </mat-form-field>
  </div>

  <div class="update-flight-arrival-date general-update-flight">
    <div>Flight Arrival Date</div>
    <mat-form-field>
      <mat-label>Flight Arrival Date</mat-label>
      <input matInput [matDatepicker]="arrivalDate" [formControl]="arrivalDateFormControl">
      <mat-datepicker-toggle matSuffix [for]="arrivalDate"></mat-datepicker-toggle>
      <mat-datepicker #arrivalDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="update-flight-arrival-date general-update-flight">
    <div>Flight Arrival Time</div>
    <div class="timepicker" >
      <ngx-timepicker-field [formControl]="arrivalTimeFormControl" [format]="24" [controlOnly]="true"></ngx-timepicker-field>
    </div>
  </div>

  <div class="update-flight-departure general-update-flight">
    <div>Flight Departure Airport</div>
    <mat-form-field>
      <mat-label>Flight Departure Airport</mat-label>
      <input matInput [formControl]="departureFormControl" required>
      <mat-error *ngIf="departureFormControl.invalid">Please Fill Flight Departure Airport</mat-error>
    </mat-form-field>
  </div>

  <div class="update-flight-departure-date general-update-flight">
    <div>Flight Departure Date</div>
    <mat-form-field>
      <mat-label>Flight Departure Date</mat-label>
      <input matInput [matDatepicker]="departureDate" [formControl]="departureDateFormControl">
      <mat-datepicker-toggle matSuffix [for]="departureDate"></mat-datepicker-toggle>
      <mat-datepicker #departureDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="update-flight-departure-date general-update-flight">
    <div>Flight Departure Time</div>
    <div class="timepicker" >
      <ngx-timepicker-field [formControl]="departureTimeFormControl" [format]="24" [controlOnly]="true"></ngx-timepicker-field>
    </div>
  </div>

  <div class="update-flight-transit general-update-flight">
    <div>Flight Arrival Airport</div>
    <mat-form-field>
      <mat-label>Flight Arrival Airport</mat-label>
      <input matInput [formControl]="transitFormControl" required>
    </mat-form-field>
  </div>

  <div>
    <button [disabled]="isDisable" mat-button (click)="updateFlight()">Update Flight</button>
  </div>

</div>
