<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div style="border: 2px solid black; border-radius: 5px; margin: 50px 0px 0px 50px; padding: 0px 5px 0px 25px; width: 250px">
  <h1>Note:</h1>
  <ol>
    <h3><li>Link + Router for Footer</li></h3>
    <h3><li>Complete Home Page</li></h3>
    <li>Connect Google - Update</li>
    <li>Connect Facebook</li>
    <li>Insert New User - Google & Facebook</li>
    <li>Language Feature</li>
    <li>Money Feature</li>
  </ol>
</div>

<app-footer></app-footer>
