<div [ngStyle]="{'width.px': widthDiv}">

  <label (click)="setActive()"
         [ngStyle]="{'color': setColor()}"
         id="label-{{inputForm.name}}"> {{inputForm.placeholder}} </label>

  <input (focusin)="setActive()"
         (focusout)="setText()"
         [(ngModel)]="valueInput"
         [ngStyle]="{'border': setBorder()}"
         tabindex="-1"
         name="{{inputForm.name}}"
         type="text"
         id="{{inputForm.name}}"
         autocomplete="off"
         required>

  <p>
    {{errorMessage}}
  </p>

</div>
